<ion-content [fullscreen]="true" class="teacher-page">
  <ion-header>
    <ion-button fill="clear" routerLink="/landing-page" class="back-button">
      <ion-icon slot="icon-only" name="arrow-back" class="back-btn"></ion-icon>
    </ion-button>
  </ion-header>
  
  <div class="teacher-header-logo">
    <img src="assets/teacher-logo.png" alt="teacher-logo" class="logo">
  </div>
  <div class="register-here">
    <h1>
      <span class="register-txt">Login </span>
      <span class="here-txt">here</span>
    </h1>
    <p>
      Welcome back, you've been missed!
    </p>
  </div>

  <div class="input-fields">
    <ion-input
    aria-label="ID Number"
    placeholder="ID Number"
    type="number"
    class="teacher-id-number">
    </ion-input>

    <ion-input
    aria-label="Password"
    placeholder="Password"
    type="password"
    class="password">
    </ion-input>
  </div>

  <div class="login">
    <ion-button routerLink="/t-home" class="login-button">
      <ion-icon name="log-in-outline" slot="start" class="login-icon"></ion-icon>
      Login
    </ion-button>
  </div>

  <p class="signin-txt">
    Don't have an account? <a href="/t-signup" class="signin-link">Register here</a>
  </p>
</ion-content>
