<ion-content [fullscreen]="true" class="teacher-page">
  <ion-header>
    <ion-button fill="clear" routerLink="/landing-page" class="back-button">
      <ion-icon slot="icon-only" name="arrow-back" class="back-btn"></ion-icon>
    </ion-button>
  </ion-header>
  
  <div class="teacher-header-logo">
    <img src="assets/teacher-logo.png" alt="teacher-logo" class="logo">
  </div>
  <div class="register-here">
    <h1>
      <span class="register-txt">Register </span>
      <span class="here-txt">here</span>
    </h1>
    <p>
      Create an account
    </p>
  </div>

  <div class="upload-photo">
    <ion-avatar (click)="fileInput.click()">
      <img [src]="userPhoto || 'assets/temp-profile.jpg'" alt="User Photo" class="user-photo">
      
      <ion-icon 
        name="camera-outline" 
        class="upload-icon">
      </ion-icon>
    </ion-avatar>
  
    <input 
      type="file" 
      #fileInput 
      accept="image/*" 
      style="display: none;" 
      (change)="onFileSelected($event)">
  </div>
  
  <div class="input-fields">
    <ion-input
      type="text"
      aria-label="First Name"
      placeholder="First Name"
      [(ngModel)]="firstName"
      name="firstName">
    </ion-input>

    <ion-input
      type="text"
      aria-label="Last Name"
      placeholder="Last Name"
      [(ngModel)]="lastName"
      name="lastName">
    </ion-input>

    <ion-input
      type="email"
      aria-label="Email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email">
    </ion-input>

    <ion-input
      type="text"
      aria-label="ID Number"
      placeholder="ID Number"
      [(ngModel)]="idNumber"
      name="idNumber">
    </ion-input>

    <ion-input
      type="password"
      aria-label="Password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      (ionInput)="onPasswordInput()">
    </ion-input>

    <ion-input
      *ngIf="showConfirmPassword"
      aria-label="Confirm Password"
      placeholder="Confirm Password"
      type="password"
      [(ngModel)]="confirmPassword"
      name="confirmPassword">
    </ion-input>
  </div>

  <div class="register">
    <ion-button class="register-button" (click)="registerUser()">
      <ion-icon name="person-add-outline" slot="start" class="register-icon"></ion-icon>
      Register
    </ion-button>
  </div>

  <p class="signin-txt">
    Already have an account? <a href="/t-signin" class="signin-link">Sign In here</a>
  </p>
</ion-content>